PORT=8080

COOKIE_PARSER_KEY=my-super-secret-key
COOKIE_EXPIRY=86400

FRONTEND_URI=http://local.com:5173
BACKEND_URI=http://api.local.com:8080
SITE_DOMAIN=.local.com

MONGODB_URI=<MONGODB_URI>

REDIS_URI=<REDIS_URI>

NODEMAILER_EMAIL=
NODEMAILER_PASS=
EMAIL_HOST=

GOOGLE_CLIENT_ID=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
GITHUB_SCOPE=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_PRESIGNED_URL_EXPIRY=

OTP_RATE_LIMIT_WINDOW=15
OTP_RATE_LIMIT=5

AUTH_RATE_LIMIT_WINDOW=15
AUTH_RATE_LIMIT=10

UPLOAD_RATE_LIMIT_WINDOW=15
UPLOAD_RATE_LIMIT=20

MUTATE_RATE_LIMIT_WINDOW=15
MUTATE_RATE_LIMIT=30

READ_RATE_LIMIT_WINDOW=15
READ_RATE_LIMIT=100

ADMIN_RATE_LIMIT_WINDOW=15
ADMIN_RATE_LIMIT=10

MAX_THROTTLE_DELAY_MS=10000